* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #556375;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
.mainContainer .sad {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-top: 2rem;
}
.mainContainer .sad .emoji {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8rem;
  width: 8rem;
  padding-bottom: 1rem;
}
.mainContainer .sad .feedbackText {
  text-align: center;
  color: #DCE1E5;
  font-size: 1.5rem;
  font-weight: 300;
}
.mainContainer .change {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.mainContainer .change .changeText {
  padding-top: 1.2rem;
  font-size: 1.2rem;
  color: #6C7B8B;
  font-weight: 400;
  padding-bottom: 1.6rem;
}
.mainContainer .change .emojiChange {
  position: absolute;
  top: 15.5rem;
  left: 26.4rem;
  height: 2rem;
  width: 2rem;
}
.mainContainer .border {
  position: relative;
  margin-left: 9rem;
  width: 27rem;
  border-top: 0.1rem solid #909BA7;
  padding-bottom: 0.9rem;
}
.mainContainer .inputContainer {
  position: relative;
  margin-left: -2%;
  padding-bottom: 1.8rem;
}
.mainContainer .inputContainer .option {
  position: absolute;
  margin-left: 9rem;
  background-color: #556375;
  border: 1px solid #F2F4F6;
  height: 2.5rem;
  border-radius: 50%;
  width: 2.5rem;
}
.mainContainer .inputContainer .optionLabel {
  position: relative;
  padding-top: 0.6rem;
  margin-left: 12.8rem;
  color: #F2F4F6;
  font-size: 1.4rem;
  font-weight: 400;
}
.mainContainer textArea {
  position: relative;
  text-align: left;
  background-color: #556375;
  border: 0.1rem solid #9AA5AE;
  border-radius: 4%;
  margin-left: 8.4rem;
  height: 15rem;
  width: 27rem;
}
.mainContainer .privacy {
  position: relative;
  margin-left: 6.8rem;
  padding-bottom: 1.8rem;
}
.mainContainer .privacy .tickmark {
  margin-right: 0.8rem;
  height: 4rem;
  width: 4rem;
  float: left;
}
.mainContainer .privacy .allowText {
  position: relative;
  padding-top: 0.8rem;
  font-size: 1.2rem;
  color: #DCE1E5;
  font-weight: 400;
}
.mainContainer .privacy .privacyText {
  margin-left: 1rem;
  color: #909BA7;
  font-size: 0.98rem;
}
.mainContainer .submitButton {
  position: relative;
  height: 2.8rem;
  padding-top: 1rem;
  margin-top: 1.2rem;
  margin-left: 7.8rem;
  margin-right: 6.8rem;
  background-color: #FFFFFF;
  border-radius: 3%;
  color: #5D6A7A;
  font-size: 1.8rem;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #9AA5AE;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9AA5AE;
  font-size: 1.4rem;
  font-weight: 400;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9AA5AE;
  font-size: 1.4rem;
  font-weight: 400;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9AA5AE;
  font-size: 1.4rem;
  font-weight: 400;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9AA5AE;
  font-size: 1.4rem;
  font-weight: 400;
}
