* {
  margin: 0;
  padding: 0;
}
body.dragging,
body.dragging {
  cursor: move !important;
}
.dragged {
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 2000;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
.mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #DBE5F2;
  color: #424242;
}
.mainContainer .topBar {
  position: absolute;
  height: 8rem;
  background: #F9FAFD;
  width: 100%;
}
.mainContainer .topBar .logo {
  position: relative;
  float: left;
  height: 4rem;
  margin: 2rem;
}
.mainContainer .topBar .text {
  position: relative;
  float: right;
  line-height: 4rem;
  font-size: 1.4rem;
  margin: 2rem;
}
.mainContainer .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.mainContainer .modalContainer {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  height: 20rem;
  width: 50rem;
  background: lightgrey;
  border: 0.1rem solid lightgray;
  transform: translate(-50%, -50%);
  display: none;
}
.mainContainer .modalContainer .modalContent {
  position: relative;
  height: 15rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 500;
  color: black;
  line-height: 5rem;
  text-align: center;
  text-transform: capitalize;
  overflow: none;
  background: transparent;
  border: 0.1rem solid #D3D7DC;
  resize: none;
  outline: none;
}
.mainContainer .modalContainer .modalButtonContainer {
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
  border-top: 0.1rem solid silver;
}
.mainContainer .modalContainer .modalButtonContainer .modalButton {
  position: relative;
  float: left;
  font-size: 1.4rem;
  color: #d1d1d1;
  text-align: center;
  line-height: 3rem;
  text-transform: uppercase;
  background: black;
  padding: 1rem 2rem;
  margin: 0 8rem;
}
.mainContainer .todoContainer {
  position: absolute;
  top: 8rem;
  bottom: 8rem;
  width: 100%;
  overflow-y: auto;
}
.mainContainer .todoContainer .column {
  position: relative;
  float: left;
  height: 100%;
  width: 30%;
  margin-left: 3.5rem;
  box-sizing: border-box;
}
.mainContainer .todoContainer .column .heading {
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 0;
  color: #01579b;
  letter-spacing: 3px;
}
.mainContainer .todoContainer .column .cardContainer {
  position: absolute;
  top: 7rem;
  bottom: 5rem;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #01579b;
  box-sizing: border-box;
}
.mainContainer .todoContainer .column .cardContainer .card {
  position: relative;
  min-height: 14rem;
  max-height: 30rem;
  overflow-y: auto;
  margin: 1rem;
  background: #F9FBFD;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.mainContainer .todoContainer .column .cardContainer .card .content {
  position: relative;
  float: left;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
}
.mainContainer .todoContainer .column .cardContainer .card .removeCard {
  position: relative;
  float: right;
  height: 3rem;
  margin-top: 5rem;
  margin-right: 2rem;
  display: none;
}
.mainContainer .todoContainer .column .cardContainer .card:hover .removeCard {
  display: block;
}
.mainContainer .todoContainer .column .addCardButton {
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background: #3E9AFD;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  line-height: 5rem;
}
.mainContainer .footer {
  position: absolute;
  height: 8rem;
  background: #F9FAFD;
  width: 100%;
  bottom: 0;
}
.mainContainer .footer .logo {
  position: relative;
  float: left;
  height: 4rem;
  margin: 2rem;
}
.mainContainer .footer .text {
  position: relative;
  float: right;
  line-height: 4rem;
  font-size: 1.4rem;
  margin: 2rem;
}
