* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
.mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.mainContainer .userContainer {
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 43rem;
  background-color: #44525E;
}
.mainContainer .userContainer .userPhoto {
  position: absolute;
  top: 8.6rem;
  left: 50%;
  transform: translateX(-50%);
  height: 17rem;
  border-radius: 50%;
  border: 0.8rem solid white;
}
.mainContainer .userContainer .userName {
  position: absolute;
  width: 100%;
  top: 29.5rem;
  font-weight: 300;
  font-size: 2.2rem;
  text-align: center;
  font-size: 5.2rem;
  color: white;
}
.mainContainer .userContainer:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0rem;
  height: 2.5rem;
  background: linear-gradient(white 5%, transparent 0%), linear-gradient(45deg, #44525E 45%, transparent 35%) 0 100%, linear-gradient(-45deg, #44525E 40%, white 33%) 0 45%;
  background-repeat: repeat-x;
  background-size: 0px 100%, 35px 35px, 35px 35px;
}
.mainContainer .arrow {
  position: absolute;
  top: 39.8rem;
  width: 0.1rem;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 3rem solid #566476;
  left: 50%;
  transform: translateX(-50%);
}
.mainContainer .feedbackContainer {
  position: absolute;
  top: 42.9rem;
  width: 100%;
  height: 34rem;
  background-color: #566476;
  font-size: 4rem;
}
.mainContainer .feedbackContainer .question {
  position: absolute;
  width: 100%;
  height: 16rem;
  line-height: 16rem;
  text-align: center;
  color: white;
}
.mainContainer .feedbackContainer .icons {
  position: absolute;
  top: 12.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 35rem;
  height: 18rem;
}
.mainContainer .feedbackContainer .icons .iconHappy {
  position: absolute;
  height: 14rem;
  width: 14rem;
}
.mainContainer .feedbackContainer .icons .iconSad {
  position: absolute;
  left: 19rem;
  height: 14rem;
  width: 14rem;
}
.mainContainer .amountContainer {
  position: absolute;
  top: 77rem;
  width: 100%;
  height: 35rem;
  text-align: center;
  line-height: 35rem;
  font-size: 18.5rem;
  font-weight: 500;
  color: #404040;
}
.mainContainer .amountContainer .currencyIcon {
  font-size: 9rem;
  font-weight: 400;
}
.mainContainer .itemsContainer {
  position: absolute;
  left: 6rem;
  right: 6rem;
  bottom: 0;
  overflow: auto;
  top: 110rem;
  border-top: 0.4rem dashed #E6E6E6;
}
.mainContainer .itemsContainer .item {
  padding-top: 2.2rem;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
}
.mainContainer .itemsContainer .item .itemName {
  position: relative;
  float: left;
  width: 65%;
  height: auto;
  font-size: 4rem;
  font-weight: 400;
}
.mainContainer .itemsContainer .item .price {
  position: relative;
  width: 35%;
  text-align: right;
  font-size: 4rem;
  float: right;
  height: auto;
  font-weight: 400;
}
.mainContainer .itemsContainer .item .itemDescription {
  position: relative;
  float: left;
  height: auto;
  width: 65%;
  font-size: 4.1rem;
  color: #c2c2c2;
  margin-top: 1rem;
  font-weight: 300;
}
