<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../css/screen.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href = "../css/styleHome.css">
    </head>
    <body>
        <div class="mainContainer">
            <div class="userContainer">    
                <img src="../images/ceo.jpg" class="userPhoto">
                <div class="userName">RealFood</div>
            </div>
            <div class="arrow">
            </div>
            <div class="feedbackContainer">
                <div class="question">How was your experience?</div>
                <div class="icons">
                    <img src="../images/happy.png" class="iconHappy">
                    <img src="../images/sad.png" class="iconSad">
                </div>
            </div>
            <div class="amountContainer">
                <span class="currencyIcon">$</span>
                <span class="amount">1,323.60</span>
            </div>
            <div class="border">
            </div>
            <div class="itemsContainer">
                <div class="item">
                    <div class="itemName">Brownie in A Jar</div>
                    <div class="price">$140.00</div>
                    <div class="itemDescription"></div>
                </div>
                <div class="item">
                    <div class="itemName">Black Forest</div>
                    <div  class="price">$140.00</div>
                    <div class="itemDescription">Chocolate ice cream between soft chocolate buns
                        </div>
                </div>
                <div class="item">
                    <div class="itemName">Classic Banana Split With Candy</div>
                    <div  class="price">$160.00</div> 
                    <div class="itemDescription"></div>
                </div>
                <div class="item">
                    <div class="itemName">Black Forest</div>
                    <div class="price">$140.00</div>
                    <div class="itemDescription">Chocolate ice cream between soft chocolate buns
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>