<html>

<head>
    <title></title>
    <link rel="stylesheet" href="../css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/homeStyle.css">

</head>

<body>
    <div class="mainContainer">
        <div class="topBar">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/www.engineer.ai/22f3799e-e-ai-white.png" alt="engineer.ai logo" class="logo">
            <img src="../images/bell.png" class="bell" alt="" srcset="">
            <div class="count">
                12
            </div>
        </div>
        <div class="notificationTab">
            <div class="header">
                New Notifications
                <div class="count">
                    
                </div>
            </div>
            <div class="notificationContainer">
                <div class="notification">
                    Hi! This is a demo notification
                </div>
                <div class="notification">
                    Hi! This is a demo notification
                </div>
                <div class="notification">
                    Hi! This is a demo notification
                </div>
                <div class="notification">
                        Hi! This is a demo notification
                    </div>
                    <div class="notification">
                            Hi! This is a demo notification
                        </div>
            </div>
        </div>

        <div class="overlay">
        </div>
        <div class="modalContainer">
            <div class="modalContent">
            </div>
            <div class="modalButtonContainer">
                <div class="modalButton">
                    Cancel
                </div>
            </div>
        </div>
        <div class="useCaseContainer">
            <div class="useCase">
                <textarea class="textBox" placeholder="Enter the content that goes inside the popup here..."></textarea>
                <div class="instructions">
                    <div class="instruction">
                        You can add valid html content in this text box to load that in the popup
                    </div>
                    <div class="instruction">
                        You can add any content that should be loaded inside the popup body
                    </div>
                </div>
                <div class="buttonContainer">
                    <div class="button">
                        Submit
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="text">
                Assignment Submitted by Utsav Preet
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/index.js"></script>


</html>