<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/homeStyle.css">

</head>

<body>
    <div class="mainContainer">
        <div class="topBar">
            <img src="https://images.nobroker.in/static/img/logos/nb_logo_trans.png" alt="no broker logo" class="logo">
        </div>
        <div class="overlay"></div>
        <div class="modalContainer">
            <textarea class="modalContent" placeholder="Enter the text for card"></textarea>
            <div class="modalButtonContainer">
                <div class="modalButton">
                    Cancel
                </div>
                <div class="modalButton contentAdd">
                        Okay
                </div>
            </div>
        </div>
        <div class="todoContainer">
            <div class="column">
                <div class="heading">
                    TO_DO
                </div>
                <div id="todo" class="cardContainer">
                    
                </div>
                <div class="addCardButton todo" data-id="todo" onclick="launchPopup(this)">
                    Add Card
                </div>
            </div>
            <div class="column">
                <div class="heading">
                    IN_PROGRESS
                </div>
                <div id="progress" class="cardContainer">
                    <div class="card">
                       <div class="content">This is a dummy card 1</div>
                       <img src="../images/delete-button.svg" alt="removeCard" class="removeCard">
                    </div>
                    <div class="card">
                        <div class="content">This is a dummy card 2</div>
                        <img src="../images/delete-button.svg" alt="removeCard" class="removeCard">
                    </div>
                    <div class="card">
                        <div class="content">This is a dummy card 3</div>
                        <img src="../images/delete-button.svg" alt="removeCard" class="removeCard">
                    </div>
                    <div class="card">
                        <div class="content">This is a dummy card 4</div>
                        <img src="../images/delete-button.svg" alt="removeCard" class="removeCard">
                    </div>
                </div>
                <div class="addCardButton progress" data-id="progress" onclick="launchPopup(this)">
                    Add Card
                </div>
            </div>
            <div class="column">
                <div class="heading">
                    Done
                </div>
                <div id="done" class="cardContainer">
                    
                </div>
                <div class="addCardButton done" data-id="done" onclick="launchPopup(this)">
                    Add Card
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="text">
                Assignment Submitted by Utsav Preet
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../scripts/jquery.js"></script>
<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>