<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/formStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>

<body>
    <div class="mainContainer">
        <div class="sad">
            <div>
                <img class="emoji" src="../images/sad.png" alt="sad">
            </div>
            <div class="feedbackText">
                We are really Sorry
            </div>
            <div class="feedbackText">
                Tell us what went wrong
            </div>
        </div>
        <div class="change">
            <div class="changeText">
                Change my Answer
            </div>
            <div>
                <img class="emojiChange" src="../images/happy.png" alt="Happy">
            </div>
        </div>

        <div class="inputContainer">
            <div class="inputContainer">
                <div class="border">
                </div>
                <div class="option">
                </div>
                <div class="optionLabel">
                    Customer Service
                </div>
            </div>
            <div class="inputContainer">
                <div class="border">
                </div>
                <div class="option">
                </div>
                <div class="optionLabel">
                    Wait Time
                </div>
            </div>
            <div class="inputContainer">
                <div class="border">
                </div>
                <div class="option">
                </div>
                <div class="optionLabel">
                    Quality
                </div>
            </div>
            <div class="inputContainer">
                <div class="border">
                </div>
                <div class="option">
                </div>
                <div class="optionLabel">
                    Environment
                </div>
            </div>
            <div class="inputContainer">
                <div class="border">
                </div>
                <div class="option">
                </div>
                <div class="optionLabel">
                    Other
                </div>
            </div>
            <div class="textArea">
                <textarea placeholder="What went wrong? How can we do better?"></textarea>
            </div>
        </div>

        <div class="privacy">
            <img class="tickmark" src="../images/tick.jpg" alt="tick">
            <div class="allowText">
                Allow us to reply.
            </div>
            <div class="privacyText">
                Your email will not be revealed.
            </div>
        </div>

        <div class="submitButton">
            Submit
        </div>
    </div>
</body>

</html>